:root {
  --input-bg-color: #111;
  --input-font-color: #aaa;
  --accent-color: #f0d90a;
  --font-color: #ddd;
}

#root {
  max-width: 1380px;
  margin: 0 auto;
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -10%;
}

.image-container {
  padding-right: 2.5rem;

  & .image-placeholder {
    border-radius: 6px;
    opacity: 0.5;
    background: var(--input-bg-color);
  }

  & img {
    border-radius: 6px;
    border: 1px solid #111;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 10px;
  width: 580px;
  
  & fieldset {
    border: none;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    & label {
      display: flex;
      flex-direction: column;
    }
    
    & input {
      width: 100px;
      font-size: 1.1rem;
      background: var(--input-bg-color);
      border: none;
      margin-top: 4px;
      padding: 12px;
      color: var(--input-font-color);
      border-radius: 6px;

      &::selection {
        color: black;
        background: var(--accent-color);
      }
      
      &:focus {
        outline: 1px solid var(--accent-color);
      }
    }
  }

  & label[for="input-prompt"] {
    visibility: hidden;
    max-height: 0;
  }

  #input-prompt, #input-negative-prompt {
    font-size: 1.2rem;
    background: var(--input-bg-color);
    color: var(--input-font-color);
    border: none;
    border-radius: 6px;
    padding: 14px;
    font-family: WorkSans;
    min-height: 80px;

    &::selection {
      color: black;
      background: var(--accent-color);
    }

    &:focus {
      outline: 1px solid var(--accent-color);
    }
  }

  .queue-button {
    font-size: 1.15rem;
    background: none;
    outline: 3px solid var(--accent-color);
    color: #f0d90a;
    margin-top: 14px;
    
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 180px;
    align-self: center;
    transition: background 0.25s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background: #f0d90a;
      color: black;
    }
  }
}

